
<div id="temp" *ngIf="compStatus=='on'"><p >Speed  {{ speed }}</p></div>
<hr />

<img  src="../../assets/ac-off(1).jpg" width="100%" height="600px" />


<!-- <img *ngIf="compStatus=='off'" class="notRotated"
 src="../../assets/cropped.jpg" width="80%" height="110px" alt=""> -->


<img *ngIf="compStatus=='on' && angle==1" class="rotated"
 src="../../assets/cropped.jpg" width="80%" height="110px" alt="">

 <img *ngIf="compStatus=='on' && angle==2" class="rotated2"
 src="../../assets/cropped.jpg" width="80%" height="110px" alt="">

 <img *ngIf="compStatus=='on' && angle==3" class="rotated3"
 src="../../assets/cropped.jpg" width="80%" height="110px" alt="">
 <!-- <fa-icon [icon]="faCoffee"></fa-icon> -->



